@using BepopJWT.Consume.ArtistDTOs
@model List<ResultArtistDTO>
@{
    ViewData["Title"] = "Sanatçılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content page-container" id="page-content">
    <div class="padding sr" id="list" data-plugin="list">

        <div class="page-hero">
            <div class="media bg-media">
                <div class="media-content" style="background-image:url('/Bebop/assets/img/b6.jpg')"></div>
            </div>
            <div class="pos-rlt">
                <h1 class="display-3 font-weight-bold text-white">@ViewData["ArtistCount"] Sanatçı</h1>
            </div>
        </div>

        <div class="d-lg-flex pos-rlt">
            <div class="flex">


                <div class="row list media-circle">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-4 col-sm-3 col-md-2-4 col-lg-2 col-xl-1-8 py-3">
                                <div class="list-item r">
                                    <div class="media">
                                        <a href="/Default/ArtistDetail/@item.ArtistId"
                                           class="ajax media-content"
                                           style="background-image:url('@item.ImageUrl')">
                                        </a>
                                        <div class="media-action"></div>
                                    </div>

                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="/Default/ArtistDetail/@item.ArtistId"
                                               class="list-subtitle d-block text-muted h-1x subtitle ajax font-weight-bold">
                                                @item.Name
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12 text-center p-5">
                            <h5 class="text-muted">Henüz sanatçı bulunamadı.</h5>
                        </div>
                    }
                </div>

                <div class="d-flex py-3 justify-content-center">
                    <ul class="pagination pagination-sm"></ul>
                </div>

                <div class="d-flex py-3 justify-content-center">
                    <ul class="pagination pagination-sm">
                    </ul>
                </div>

            </div>

            <div style="min-width: 4rem"></div>
        </div>
    </div>
</div>