@{
    ViewData["Title"] = "Sanatçılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content page-container" id="page-content">
    <div class="padding sr" id="list" data-plugin="list">

        <div class="page-hero">
            <div class="media bg-media">
                <div class="media-content" style="background-image:url('/Bebop/assets/img/b6.jpg')"></div>
            </div>
            <div class="pos-rlt">
                <h1 class="display-3 font-weight-bold text-white">3,902 Sanatçı</h1>
            </div>
        </div>

        <div class="d-lg-flex pos-rlt">
            <div class="flex">

                <div class="pb-4 d-flex sr-item" id="filter-tag">
                    <div class="no-shrink my-2">Ülkeler</div>
                    <div class="mx-3">
                        <a href="#" class="btn btn-sm btn-white m-1">Tümü</a>
                        <a href="#" class="btn btn-sm btn-white m-1">Avustralya</a>
                        <a href="#" class="btn btn-sm btn-white m-1">Kanada</a>
                        <a href="#" class="btn btn-sm btn-white m-1">Fransa</a>
                        <a href="#" class="btn btn-sm btn-white m-1">Almanya</a>
                        <a href="#" class="btn btn-sm btn-white m-1">İrlanda</a>
                        <a href="#" class="btn btn-sm btn-white m-1">Hollanda</a>
                        <a href="#" class="btn btn-sm btn-white m-1">İngiltere</a>
                        <a href="#" class="btn btn-sm btn-white m-1">ABD</a>
                    </div>
                </div>

                <div class="row list media-circle">

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b8.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Panic! At The Disco
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b2.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        DJ Snake, Selena Gomez, Ozuna
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b15.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Benny Blanco, Halsey & Khalid
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/a1.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Loud Luxury Feat. Brando
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b19.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Rita Ora
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/a7.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Don Diablo & Gucci Mane
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b1.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Lady Gaga & Bradley Cooper
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b3.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Calvin Harris & Sam Smith
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b5.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Dynoro & Gigi D’Agostino
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b18.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        5 Seconds Of Summer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b9.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Marshmello & Bastille
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/a12.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        XXXTENTACION & Lil Pump
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b17.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Kodak Black & Travis Scott
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/a3.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Sheck Wes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b12.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Bad Bunny Feat. Drake
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b16.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        The Prince Karma
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/a8.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Bazzi Feat. Camila Cabello
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/b7.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Imagine Dragons
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c7.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Panic! At The Disco
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-3">
                        <div class="list-item r">
                            <div class="media">
                                <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c28.jpg')"></a>
                                <div class="media-action"></div>
                            </div>
                            <div class="list-content text-center">
                                <div class="list-body">
                                    <a href="#" class="list-subtitle d-block text-muted h-1x subtitle ajax">
                                        Lukas Graham
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="d-flex py-3 justify-content-center">
                    <ul class="pagination pagination-sm">
                    </ul>
                </div>

            </div>

            <div style="min-width: 4rem"></div>
        </div>
    </div>
</div>