@{
    ViewData["Title"] = "Sanatçı Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content page-container" id="page-content">
    <div class="padding sr">

        <div class="page-hero" data-id="2" data-source="">
            <div class="media bg-media">
                <div class="media-content" style="background-image:url('/Bebop/assets/img/b10.jpg')"></div>
            </div>
            <div class="pos-rlt">
                <h1 class="display-3 font-weight-bold text-white">Alan Hayes</h1>
                <span class="hide title">Shallow</span>
                <span class="hide subtitle">Lady Gaga & Bradley Cooper</span>

                <div class="py-4 toolbar align-items-center">
                    <button class="btn btn-icon btn-play btn-rounded gd-primary"></button>
                    <span class="text-muted">10 şarkı, 5 liste</span>
                    <button class="btn btn-sm btn-outline-light btn-rounded mx-3">
                        <span class="d-inline">Takip Et</span>
                    </button>
                    <span class="text-muted">502 Takipçi</span>
                </div>

                <div class="mb-2">
                    <span class="text-muted">Sosyal: </span>
                    <a href="#" class="text-highlight">Fb</a>,
                    <a href="#" class="text-highlight">Tw</a>,
                    <a href="#" class="text-highlight">Ig</a>
                </div>
            </div>
        </div>

        <div class="d-md-flex pos-rlt">
            <div class="flex">

                <div class="d-flex">
                    <ul class="nav nav-sm text-sm nav-pills nav-rounded py-4">
                        <li class="nav-item">
                            <a class="nav-link active" href="#overview" data-toggle="tab">Genel Bakış</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tracks" data-toggle="tab">Şarkılar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#albums" data-toggle="tab">Albümler</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">

                    <div class="tab-pane fade show active" id="overview">

                        <div class="heading pt-5 pb-3 d-flex">
                            <div>
                                <div class="text-muted sr-item">Popüler</div>
                                <h5 class="text-highlight sr-item">Şarkılar</h5>
                            </div>
                            <span class="flex"></span>
                        </div>

                        <div class="row list-row list-index">

                            <div class="col-12" data-id="434202110">
                                <div class="list-item r">
                                    <div class="media">
                                        <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c13.jpg')"></a>
                                        <div class="media-action media-action-overlay">
                                            <button class="btn btn-icon no-bg no-shadow hide-row"><i data-feather="heart"></i></button>
                                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                        </div>
                                    </div>
                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="#" class="list-title title ajax h-1x">SICKO MODE</a>
                                            <a href="#" class="list-subtitle d-block text-muted h-1x">Travis Scott</a>
                                        </div>
                                    </div>
                                    <div class="list-action show-row">
                                        <div class="d-flex align-items-center">
                                            <div class="px-3 text-sm text-muted d-none d-md-block">03:24</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" data-id="374705210">
                                <div class="list-item r">
                                    <div class="media">
                                        <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c22.jpg')"></a>
                                        <div class="media-action media-action-overlay">
                                            <button class="btn btn-icon no-bg no-shadow hide-row"><i data-feather="heart"></i></button>
                                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                        </div>
                                    </div>
                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="#" class="list-title title ajax h-1x">Mo Bamba</a>
                                            <a href="#" class="list-subtitle d-block text-muted h-1x">Sheck Wes</a>
                                        </div>
                                    </div>
                                    <div class="list-action show-row">
                                        <div class="d-flex align-items-center">
                                            <div class="px-3 text-sm text-muted d-none d-md-block">03:25</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" data-id="438654695">
                                <div class="list-item r">
                                    <div class="media">
                                        <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c23.jpg')"></a>
                                        <div class="media-action media-action-overlay">
                                            <button class="btn btn-icon no-bg no-shadow hide-row"><i data-feather="heart"></i></button>
                                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                        </div>
                                    </div>
                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="#" class="list-title title ajax h-1x">Taki Taki</a>
                                            <a href="#" class="list-subtitle d-block text-muted h-1x">DJ Snake</a>
                                        </div>
                                    </div>
                                    <div class="list-action show-row">
                                        <div class="d-flex align-items-center">
                                            <div class="px-3 text-sm text-muted d-none d-md-block">02:48</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" data-id="416888150">
                                <div class="list-item r">
                                    <div class="media">
                                        <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c24.jpg')"></a>
                                        <div class="media-action media-action-overlay">
                                            <button class="btn btn-icon no-bg no-shadow hide-row"><i data-feather="heart"></i></button>
                                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                        </div>
                                    </div>
                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="#" class="list-title title ajax h-1x">Solo</a>
                                            <a href="#" class="list-subtitle d-block text-muted h-1x">Clean Bandit</a>
                                        </div>
                                    </div>
                                    <div class="list-action show-row">
                                        <div class="d-flex align-items-center">
                                            <div class="px-3 text-sm text-muted d-none d-md-block">03:48</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" data-id="408576846">
                                <div class="list-item r">
                                    <div class="media">
                                        <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c25.jpg')"></a>
                                        <div class="media-action media-action-overlay">
                                            <button class="btn btn-icon no-bg no-shadow hide-row"><i data-feather="heart"></i></button>
                                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                        </div>
                                    </div>
                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="#" class="list-title title ajax h-1x">Shotgun</a>
                                            <a href="#" class="list-subtitle d-block text-muted h-1x">George Ezra</a>
                                        </div>
                                    </div>
                                    <div class="list-action show-row">
                                        <div class="d-flex align-items-center">
                                            <div class="px-3 text-sm text-muted d-none d-md-block">05:23</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="tracks">
                        <div class="row list-row">
                            <div class="col-12 p-3 text-muted text-center">
                                Daha fazla şarkı yakında...
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="albums">
                        <div class="row list mb-4">

                            <div class="col-4 col-sm-3">
                                <div class="list-item list-hover r mb-4">
                                    <div class="media">
                                        <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c15.jpg')"></a>
                                        <div class="media-action media-action-overlay">
                                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                        </div>
                                    </div>
                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="#" class="list-title title ajax h-1x">Later Bitches</a>
                                            <a href="#" class="list-subtitle d-block text-muted h-1x">The Prince Karma</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 col-sm-3">
                                <div class="list-item list-hover r mb-4">
                                    <div class="media">
                                        <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c16.jpg')"></a>
                                        <div class="media-action media-action-overlay">
                                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                        </div>
                                    </div>
                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="#" class="list-title title ajax h-1x">ZEZE</a>
                                            <a href="#" class="list-subtitle d-block text-muted h-1x">Kodak Black</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 col-sm-3">
                                <div class="list-item list-hover r mb-4">
                                    <div class="media">
                                        <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c22.jpg')"></a>
                                        <div class="media-action media-action-overlay">
                                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                        </div>
                                    </div>
                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="#" class="list-title title ajax h-1x">Mo Bamba</a>
                                            <a href="#" class="list-subtitle d-block text-muted h-1x">Sheck Wes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 col-sm-3">
                                <div class="list-item list-hover r mb-4">
                                    <div class="media">
                                        <a href="#" class="ajax media-content" style="background-image:url('/Bebop/assets/img/c28.jpg')"></a>
                                        <div class="media-action media-action-overlay">
                                            <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                        </div>
                                    </div>
                                    <div class="list-content text-center">
                                        <div class="list-body">
                                            <a href="#" class="list-title title ajax h-1x">Love Someone</a>
                                            <a href="#" class="list-subtitle d-block text-muted h-1x">Lukas Graham</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div style="min-width: 4rem"></div>
        </div>
    </div>
</div>