#SQL Server Config
MSSQL_SA_PASSWORD=YourStrong@Password123

#Database Connection String
#Note : Password must match MSSQL_SA_PASSWORD above
DB_CONNECTION_STRING=Server=sqlserver;Database=BepopJwtDb;User Id=sa;Password=YourStrong@Password123;TrustServerCertificate=True;   